alinear-gradient(n, color_from, color_to)
  background-image -webkit-gradient(linear, left top, left bottom, from(color_from), to(color_to))
  background-image -webkit-linear-gradient(n, color_from, color_to)
  background-image -moz-linear-gradient(n, color_from, color_to)
  background-image -ms-linear-gradient(n, color_from, color_to)
  background-image -o-linear-gradient(n, color_from, color_to)
  background-image linear-gradient(n, color_from, color_to)

box-shadow(args...)
  -webkit-box-shadow args
  -moz-box-shadow args
  box-shadow args

transform(args...)
  -webkit-transform args
  -moz-transform args
  -ms-transform args
  -o-transform args
  transform args
