polymer-element attributes="color location" name="corner-badge"
  template
    link href="stylesheets/corner-badge.css" rel="stylesheet"
      #border class="{{location}}"
        #banner style="background-color: {{color}}"
          span#message
  script src="javascripts/corner-badge.js"
